.content{
  display: flex;
  justify-content: space-between;
}

.side-bar{
  width: 250px;
  height: 700px;
  background-color: aqua;

  display: flex;
  flex-direction: column;
}

.nav-product{
  background-color: rgb(223, 181, 181);
  border: 1px solid black;

  width: 1200px;

  margin-right: 35px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  row-gap: 1em;
}

.product-item{
  display: block;

  width: 287px;
  height: 330px;

  border: 1px solid rgb(247, 87, 87);
}



