.header{
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;

  padding: 1.2rem 0;


  border: none;
  border-bottom: 1px solid gray;

  position:fixed;
  top : 0;
  left: 0;

  z-index: 2;

}

.left-header{
  font-size: 22px;
  font-weight: bolder;
  margin-left: 20px;
}


.nav-link{
  display: flex;
  gap : 2.5em;
}

.link-nav {
  transition: all 0.3s;
  font-weight: bold;
}

.link-card{
  transition: all 0.5s;
  font-weight: 500;
  cursor: pointer;
}

.link-nav:hover{
  color: rgb(252, 105, 0);
  transform: scale(1.2);
}

.link-card:hover{
  color: rgb(250, 47, 47);
}


.clothe:hover .dropdown{
  display: block;
}

.page:hover .dropdown{
  display: block;
}


.dropdown{
  background-color: rgb(255, 255, 255);

  display: none;

  position: absolute;
  top: 35px;
  left : auto;

  width: 100px;

  border: 1px solid gray;
}

.dropdown ul li{
  line-height: 25px;
  text-align: left;
}


.right-header{
  display: flex;
}

.main-right-header{
  display: flex;
  flex-direction: row;
}

.icon-header{
  cursor: pointer;
  padding: 10px;
}

.icon-header:hover{
  background-color: rgb(252, 105, 0);
}

.icon-header:active{
  background-color: aliceblue;
}

.side-bar-header{
    display: none;
}

@media screen  and ( max-width : 980px){
  .header{
    font-size: 16px;
  }
}

@media only screen and (max-width : 700px)
{
  .middle-header{
    display: none;
  }

  .main-right-header{
    display: none;
  }

  .side-bar-header{
    display: block;
    width: 50px;
  }

  .header{
    justify-content:space-between;
  }
}

.name-shop{
cursor: pointer;
}

#head-page{
  position: absolute;
  top : 0;
}